<div class="faq-container">
    <h2>Preguntas frecuentes</h2>
    <div class="faq-content">
      <div class="faq-image">
        <img src="assets/img/doctor.png" alt="FAQ Image">
      </div>
      <div class="faq-questions">
        <ul>
          <li>
            <strong>¿Cómo puedo agendar una cita médica?</strong>
            <p>
              Para agendar una cita médica, solo necesitas crear una cuenta 
              en nuestro sitio web. Una vez registrado, inicia sesión, selecciona 
              la especialidad médica y el profesional de tu elección, elige una fecha 
              y hora disponible, y confirma la cita. 
            </p>
          </li>
          <li>
            <strong>¿Dónde puedo ver mi historial de citas registradas?</strong>
            <p>
              En la parte superior de la aplicación hay un apartado de Historial, 
              es visible siempre y cuando te hayas logeado.
            </p>
          </li>
          <li>
            <strong>¿Qué documentos debo llevar a mi cita médica?</strong>
            <p>
              Es recomendable llevar tu documento de identidad y cualquier historial
              médico relevante que puedas tener.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  