<div class="container" *ngIf="role === 'ADMIN'">
  <h2>Lista de Especialidades</h2>
  <div class="header-actions">
    <div class="container-buttons">
      <button class="add-button" (click)="addEspecialidad()">Agregar Especialidad +</button>
      <button class="add-button" (click)="navPreciosCitas()">Agregar Precio por especialidad +</button>
    </div>
    <div class="search-container">
      <span class="search-icon"><mat-icon>search</mat-icon></span>
      <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda">
    </div>
  </div>
  <br>

  <div *ngIf="paginatedData.length === 0; else dataTable">
    <div class="no-data-container">
      <img src="assets/img/no-data.png" alt="No hay datos" class="no-data-image">
      <p>No hay especialidades disponibles.</p>
    </div>
  </div>

  <ng-template #dataTable>
    <div class="table-container">
      <table class="custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let especialidad of paginatedData">
            <td>{{ especialidad.id }}</td>
            <td>{{ especialidad.nombre }}</td>
            <td>{{ especialidad.descripcion }}</td>
            <td>
              <button class="custom-button" (click)="editarEspecialidad(especialidad.id)">
                <mat-icon>create</mat-icon>
              </button>
              <button class="custom-delete-button" (click)="eliminarEspecialidad(especialidad.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1"><</button>
      <span>Página {{ currentPage }}</span>
      <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">></button>
      <span class="items-per-page">Mostrar páginas:</span>
      <select (change)="changePageSize($event)" class="custom-select">
        <option *ngFor="let size of [5, 10, 25, 100]" [value]="size">{{ size }}</option>
      </select>
    </div>
  </ng-template>
</div>
