<footer class="footer">
    <div class="footer-section">
      <h4>Contáctanos</h4>
      <p><i class="fas fa-envelope"></i> <a href="mailto:WorkSolution_2024@gmail.com"> WorkSolution_2024&#64;gmail.com</a></p>
      <p><i class="fas fa-phone"></i> 964 112 344</p>
      <p><i class="fas fa-phone"></i> 01 2245678</p>
    </div>
    <div class="footer-section">
      <h4>Redes Sociales</h4>
      <p><i class="fab fa-twitter"></i> &#64;WorkSolution24</p>
      <p><i class="fab fa-instagram"></i> &#64;WorkSolution_24</p>
      <p><i class="fab fa-facebook"></i> WorkSolution</p>
    </div>
</footer>